<h1> {{ title }}</h1>
<hr>
<h3> Interpolation</h3>
<h3>{{ text }}</h3>
<div><img src="{{ itemImageUrl1 }}" ></div>
<p>The sum of 1 + 1 is {{1 + 1}}.</p>
<p>The sum of 1 + 1 is not {{1 + 1 + getVal()}}.</p>
<hr>
<h3> Expression context</h3>
<img [src]="itemImageUrl2">
<ul>
  <li *ngFor="let hero of heroes">{{hero.name}}</li>
</ul>
<input type="text" #inputText (keyup)='true'> {{ inputText.value }}
<hr>
<h3> Template statements</h3>
<button *ngFor="let hero of heroes" (click)="deleteHero(hero)">Delete {{hero.name}}</button>
<br><br>
<div class="context">
  <form #heroForm (ngSubmit)="onSubmit(heroForm)"> Form with (ngSubmit) </form>
</div>
<br><hr>
<h3> Binding syntax</h3>
<h4><b>Property Binding with Angular</b></h4>
<h4>Using bind- syntax:</h4>
<img bind-src="itemImageUrl1">
<h4><b>Binding to the colSpan property</b></h4>
<table border=1>
  <tr><td>Column 1</td><td>Column 2</td></tr>
  <!-- Notice the colSpan property is camel case -->
  <tr><td [colSpan]="2">Span 2 columns</td></tr>
</table>
<h4><b>Button disabled state bound to isUnchanged property</b></h4>
<button [disabled]="isUnchanged">Disabled Button</button>
<hr/>
<h4><b>Binding to a property of a directive</b></h4>
<p [ngClass]="classes">[ngClass] binding to the classes property making this blue</p>
<hr/>
<h4><b>Return the proper type</b></h4>
<h4>Model property of a custom component</h4>
<app-item-detail [childItem]="parentItem"></app-item-detail>
<app-item-detail childItem="parentItem"></app-item-detail>

<h4>Passing in an object</h4>
<app-item-detail [items]="currentItems"></app-item-detail>
